header.site-header {
  font-size: 1.25rem;

  .header-content {
    z-index: 2;
    isolation: isolate;
  }
  nav > ul {
    list-style: none;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: 0.5rem;

    a {
      color: inherit;
      text-decoration: none;
    }
  }
}

header.site-header {
  --thickness: 4px;
  position: sticky;
  top: 0;
  /*
      Very opaque, for unsupported browsers.
      Overwritten in the feature queries below.
    */
  background: hsl(0deg 0% 100% / 0.95);
}

/*
    This code gets applied for folks using
    browsers that support backdrop-filter.
  */
@supports (backdrop-filter: blur(16px)) or (-webkit-backdrop-filter: blur(16px)) {
  header.site-header {
    background: hsl(0deg 0% 100% / 0.5);
  }

  header.site-header .backdrop {
    position: absolute;
    inset: 0;
    /*
        These prefixed properties are usually
        added automatically by tooling:
      */
    -webkit-backdrop-filter: blur(16px);
    backdrop-filter: blur(16px);
    background: linear-gradient(to bottom, hsl(0deg 0% 95%), transparent 50%);
    pointer-events: none;
  }

  header.site-header .backdrop-edge {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: var(--thickness);
    background: hsl(0deg 0% 100% / 0.1);
    -webkit-backdrop-filter: blur(12px) brightness(0.96);
    backdrop-filter: blur(12px) brightness(0.96);
    transform: translateY(100%);
    pointer-events: none;
  }
}

/*
    This code gets applied for folks using
    browsers that support mask-image. This
    adds the "consider near elements"
    optimization discussed in this article.
  */
@supports (mask-image: none) or (-webkit-mask-image: none) {
  header.site-header .backdrop {
    height: 200%;
    -webkit-mask-image: linear-gradient(
      to bottom,
      black 0% 50%,
      transparent 50% 100%
    );
    mask-image: linear-gradient(to bottom, black 0% 50%, transparent 50% 100%);
  }
  header.site-header .backdrop-edge {
    height: 100%;
    inset: 0;
    -webkit-mask-image: linear-gradient(
      to bottom,
      black 0,
      black var(--thickness),
      transparent var(--thickness)
    );
    mask-image: linear-gradient(
      to bottom,
      black 0,
      black var(--thickness),
      transparent var(--thickness)
    );
  }
}
