#tumblr-logo-black {
  display: none;

  max-width: 20rem;
}
#tumblr-logo-white {
  display: block;

  max-width: 20rem;
}

@media (prefers-color-scheme: light) {
  #tumblr-logo-black {
    display: block;
  }
  #tumblr-logo-white {
    display: none;
  }
}
