img.brand-icon {
  max-height: 1lh;
  max-width: 1lh;
  vertical-align: top;
  margin-inline: 0.5rem;

  &.icon-black {
    display: none;
  }
  &.icon-white {
    display: inline-block;
  }

  @media (prefers-color-scheme: light) {
    &.icon-black {
      display: inline-block;
    }
    &.icon-white {
      display: none;
    }
  }
}

ul#accounts-list {
  list-style: none;

  li {
    display: grid;
    grid-template-columns: 1lh auto;
    grid-template-areas: "icon" "link";
    column-gap: 0.5rem;
  }
  img.brand-icon {
    margin: 0;
    max-height: 1lh;
    max-width: 1lh;
    grid-area: icon;
    align-self: center;
    justify-self: center;
  }
}
